{% load static %}
<script src="{% static 'todo/js/lib/jkanban.min.js' %}"></script>
<script>
if(document.querySelector("#kanban") !== null) {
    var kanban = new jKanban({
        element: '#kanban',                                     // selector of the kanban container
        gutter: '15px',                                       // gutter of the board
        widthBoard: '250px',                                      // width of the board
        responsivePercentage: true,                                    // if it is true I use percentage in the width of the boards and it is not necessary gutter and widthBoard
        dragItems: true,                                         // if false, all items are not draggable
        boards: [
            {
                id: "todo_board",
                title: "TODO",
                item: []
            },
            {
                id: "working_board",
                title: "作業中",
                item: []
            },
            {
                id: "completed_board",
                title: "完了",
                item: []
            }
        ],                                           // json of boards
        dragBoards: false,                                         // the boards are draggable, if false only item can be dragged
        itemAddOptions: {
            enabled: true,                                              // add a button to board for easy item creation
            content: "",                                                // text or html content of the board button
            {#class: 'kanban-title-button btn btn-default btn-xs fas fas-plus',         // default class of the button#}
            class: 'kanban-title-button button is-primary fas fas-plus rngd_button-modal--open',         // default class of the button
            footer: false                                                // position the button on footer
        },
        itemHandleOptions: {
            enabled: false,                                 // if board item handle is enabled or not
            handleClass: "item_handle",                         // css class for your custom item handle
            customCssHandler: "drag_handler",                        // when customHandler is undefined, jKanban will use this property to set main handler class
            customCssIconHandler: "drag_handler_icon",                   // when customHandler is undefined, jKanban will use this property to set main icon handler class. If you want, you can use font icon libraries here
            customHandler: "<span class='item_handle'><i class='fas fa-plus'></i></span> %s"// your entirely customized handler. Use %s to position item title
        },
        click: function (el) {
        },                             // callback when any board's item are clicked
        dragEl: function (el, source) {
        },                     // callback when any board's item are dragged
        dragendEl: function (el) {
            console.log(el);
        },                             // callback when any board's item stop drag
        dropEl: function (el, target, source, sibling) {
        },    // callback when any board's item drop in a board
        dragBoard: function (el, source) {
        },                     // callback when any board stop drag
        dragendBoard: function (el) {
        },                             // callback when any board stop drag
        buttonClick: function (el, boardId) {
            $("#todo_status_from_kanban").val(boardId);

        }                      // callback when the board's button is clicked
    });
}
$(".kanban-title-button").attr("data-target", "rngd_modal--task")
</script>
