[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
black = "==v20.8b1"
redis = "*"
psycopg2 = "*"
django-redis-sessions = "*"

[dev-packages]
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.9"
