{% load static %}
<script src="{% static 'todo/js/lib/jkanban.min.js' %}"></script>
<script>
function parseBoardIdToStatusCd(boardId) {
    let statusCd = "";
    switch(boardId) {
        case "todo_board":
            statusCd = "TODO";
            break;
        case "working_board":
            statusCd = "WORKING";
            break;
        case "completed_board":
            statusCd = "COMPLETE";
            break;
    }
    return statusCd;
}


if(document.querySelector("#kanban") !== null) {
    var kanban = new jKanban({
        element: '#kanban',                                     // selector of the kanban container
        gutter: '15px',                                       // gutter of the board
        widthBoard: '250px',                                      // width of the board
        responsivePercentage: true,                                    // if it is true I use percentage in the width of the boards and it is not necessary gutter and widthBoard
        dragItems: true,                                         // if false, all items are not draggable
        boards: [
            {
                id: "todo_board",
                title: "TODO",
                item: []
            },
            {
                id: "working_board",
                title: "作業中",
                item: []
            },
            {
                id: "completed_board",
                title: "完了",
                item: []
            }
        ],                                           // json of boards
        dragBoards: false,                                         // the boards are draggable, if false only item can be dragged
        itemAddOptions: {
            enabled: true,                                              // add a button to board for easy item creation
            content: "",                                                // text or html content of the board button
            class: 'kanban-title-button btn btn-default btn-xs fas fas-plus',         // default class of the button
            class: 'kanban-title-button button is-primary fas fas-plus rngd_button-modal--open',         // default class of the button
            footer: false                                                // position the button on footer
        },
        itemHandleOptions: {
            enabled: false,                                 // if board item handle is enabled or not
            handleClass: "item_handle",                         // css class for your custom item handle
            customCssHandler: "drag_handler",                        // when customHandler is undefined, jKanban will use this property to set main handler class
            customCssIconHandler: "drag_handler_icon",                   // when customHandler is undefined, jKanban will use this property to set main icon handler class. If you want, you can use font icon libraries here
            customHandler: "<span class='item_handle'><i class='fas fa-plus'></i></span> %s"// your entirely customized handler. Use %s to position item title
        },
        click: function (el) {
            // 詳細画面に対象タスク情報を設定する
            // memo: modal表示制御は、modal_operations.jsでclassにrngd_button-modal--openとrngd_button-modal--closeが
            // 指定されているものに自動的に付与する
            // カンバンタスクのクラスにrngd_button-modal--openを指定し、data-targetに操作対象のモーダルを指定
            const projectTask = window.parseJKanbanTaskToProjectTask(el.dataset);
            window.setDetailTask(projectTask);

        },
        dragEl: function (el, source) {
        },
        dragendEl: function (el) {
        },
        dropEl: function (el, target, source, sibling) {
            console.debug("source:", source);
            console.debug("target:", target);
            console.debug("el:", el);

            // 対象エレメントからitemIdを取り出し、親ボードIDを取得。
            const itemId = el.dataset.eid;
            const parentBoardId = kanban.getParentBoardID(itemId);

            // ボード間移動の場合、エレメントの置換を行う
            if(source !== target) {
                const newDataSet = {
                    id: itemId,
                    title: `
                      <div class="box is-align-content-end rngd_button-modal--open" data-target="rngd_modal--detail_task">
                        <button id='pomodorobtn-${itemId}' class='button is-rounded is-danger is-small'>T</button><br>
                        ${el.dataset.name}
                      </div>
                      `,
                    name: el.dataset.name,
                    status: parseBoardIdToStatusCd(parentBoardId),
                    start_date_time: el.dataset.start_date_time,
                    end_date_time: el.dataset.end_date_time,
                    memo: el.dataset.memo,
                    project: el.dataset.project,
                    order_no: el.dataset.order_no
                }
                kanban.replaceElement(itemId, newDataSet);
            }

            const projectId = el.dataset.project;
            // 親ボードIDから紐づくエレメント一覧を取得

            const boardElements = kanban.getBoardElements(parentBoardId);
            const requestData = [];
            // リクエストデータ作成
            // {task_id: 0, order_no n+1}
            boardElements.forEach((elem, index) => {
                // boardId-taskId形式からタスクIDを取得する
                const taskId = elem.dataset.eid.split("-")[1];
                const orderNo = index + 1;
                requestData.push(
                    {
                        task_id: taskId,
                        order_no: orderNo
                    }
                )
            });

            const statusCd = parseBoardIdToStatusCd(parentBoardId);
            axios.put(
                {#`${window.ToMayToMeConstJs.API_END_POINT_TASKS_CRUD}/${projectId}/tasks/${taskId}/update/`,#}
                `${window.ToMayToMeConstJs.API_END_POINT_TASKS_CRUD}/${projectId}/tasks/${statusCd}/update/`,
                requestData
            ).then(response => {
            }).catch(error => {
                console.log(error.response);
            })

        },    // callback when any board's item drop in a board
        dragBoard: function (el, source) {
        },                     // callback when any board stop drag
        dragendBoard: function (el) {
        },                             // callback when any board stop drag
        buttonClick: function (el, boardId) {
            $("#todo_status_from_kanban").val(boardId);

        }                      // callback when the board's button is clicked
    });
}
$(".kanban-title-button").attr("data-target", "rngd_modal--task")
{#$(".kanban-item").attr("data-target", "rngd_modal--detail_task");#}
{#$(".kanban-item").addClass("rngd_button-modal--open");#}
</script>
