<div class="column is-one-fifth">
    <aside class="menu m-2">
        <p class="menu-label">
            Menu
        </p>
        <ul class="menu-list">
            <li>
                {% if not current_project %}
                <a class="is-active" href="{% url 'todo:app_top' %}">プロジェクト</a>
                {% else %}
                <a href="{% url 'todo:app_top' %}">プロジェクト</a>
                {% endif %}
                <ul>
                    {% for project in project_list %}
                    {% if project.id == current_project.id %}
                        <li><a class="is-active" href="{% url 'todo:app_project_task' project.id %}">{{ project.name }}</a></li>
                    {% else %}
                        <li><a href="{% url 'todo:app_project_task' project.id %}">{{ project.name }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </aside>
</div>
