{% load static %}
<div class="column m-2">
    <div class="columns is-multiline">
    {% for project in project_list %}
        <div class="column is-4">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="{% static 'todo/image/logo_icon.png' %}">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4"><a href="{% url 'todo:app_project_task' project.id %}">{{ project.name }}</a></p>
                        </div>
                    </div>
                    <div class="content">
                        <pre>{{ project.explain }}</pre>
                        <time>期限：{{ project.deadline}}</time>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
