{% load static %}
{# モーダルダイアログ：タスク作成--開始 #}
<div class="modal rngd_modal--task">
  <div class="modal-background rngd_button-modal--close" data-target="rngd_modal--task"></div>
  <div class="modal-content">
    <div class="box">
            <article class="message is-info">
                <div class="message-header">
                    <p>タスクを作成</p>
                </div>
                <div class="message-body">
                    <div class="field" id="todo_tasks_field">
                        <label class="label">タスク名</label>
                        <div class="control">
                            <input class="input" type="text" name="todo_tasks" placeholder="タスク名" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="buttons">
                            <button class="button is-white rngd_button-modal--close" id="todo_tasks_cancel_btn" data-target="rngd_modal--task">キャンセル</button>
                            <button class="button is-info" id="todo_tasks_create_btn">作成</button>
                        </div>
                    </div>
                </div>
            </article>

    </div>
  </div>
  <button class="modal-close is-large rngd_button-modal--close" data-target="rngd_modal--task" aria-label="close"></button>
</div>
<input type="hidden" name="todo_status_from_kanban" id="todo_status_from_kanban">
<input type="hidden" name="current_project_id" id="current_project_id" value="{{ current_project.id }}">
{# モーダルダイアログ：タスク作成--終了 #}
